* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #ffffff;
  background-color: #5995DA; /* white */
  padding: 30px 0;
    display: flex;
    justify-content: space-around;
    font-family: arial, helvetica, sans-serif;
    font-size: 75px;
    line-height: 2.5em;
}

.menu {
    width: 900px;
    background-color: #000000; /* black */
        display: flex;
        justify-content: space-between;
}

 body {
     font-family: arial, helvetica, sans-serif;
     font-size: 100px;
     line-height: 1.8em;
     color: #000000;
 }