body{
    background-color: #ebebe0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #000000;
}
.body-container{
    width: 75%;
    padding: 20px;
    margin: auto;
    text-align: center;
    background-color: #ffffff;
}
.position-bar{
    background-color: #ffffff;
    width: 75%;
    height: 20px;
    padding: 15px 0;
    color: #000000;
    text-align: center;
    margin: auto;
}
.team-name{}
.table-container{}
.forwards{}
.defense{}
.goalies{}
