body{
    background-color: #000000;
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #ffffff;
}
.body-container{
    width: 80%;
    padding-top: 40px;
    margin: auto;
    text-align: center;
    background-color: #000000;
}
table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.position-bar{
    background-color: #000000;
    width: 75%;
    height: 20px;
    padding: 15px 0;
    color: #ffffff;
    text-align: center;
    margin: auto;
}

.side-bars{
    background-color: #000000;
    position: fixed;
    top: 0vH;
    width: 100%;
}
hr.divisionDivider {border: 1px solid #ffffff}
.header-container{
    position: fixed;
    left: 10%;
    height: 2em;
    width: 80%;
    text-align: center;
    background-color: #ffffff;
}
.header-text{padding-top: 6px;}
.header-images-nhl{
    padding-top: 3px;
    background: #ffffff;
    position: fixed;
    left: 60vH;
}
.header-images-team{
    padding-top: 4px;
    position: fixed;
    right: 60vH;
}
.western-conference-links{
    position: fixed;
    top: 5vH;
    left: 0;
    width: 10%;
    height: 100%;
}
.central-division-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 45%;
    width: 100%;
    flex-wrap: wrap;
}
.pacific-division-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 45%;
    width: 100%;
    flex-wrap: wrap;
}
.eastern-conference-links{
    position: fixed;
    top: 5vH;
    right: 0px;
    width: 10%;
    height: 100%;
}
.metropolitan-division-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 45%;
    width: 100%;
    flex-wrap: wrap;
}
.atlantic-division-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 45%;
    width: 100%;
    flex-wrap: wrap;
}   