.side-bars{
    background-color: #ebebe0;
    position: sticky;
}
.side-bar-links{
    display: flex;
}
.western-conference-links{
    display: flex;
    width: 12.5%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.central-division-links{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 45%;
    width: 12.5%;
    flex-wrap: wrap;
}
.pacific-division-links{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    height: 45%;
    width: 12.5%;
    flex-wrap: wrap;
}
.eastern-conference-links{
    display: flex;
    width: 12.5%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 85%;
    }
.metropolitan-division-links{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 45%;
    width: 12.5%;
    flex-wrap: wrap;
}
.atlantic-division-links{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    height: 45%;
    width: 12.5%;
    flex-wrap: wrap;
}